html, body, div, span, applet, object, iframe,
 h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.countdown-container {
    padding: 20px;
    background-color: #222222;
    margin-bottom: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
 
.countdown-container .number {
    font-size: 32px;
    text-align: center;
    padding-top: 20px;
    color: #FFFFFF;
    background-color: #000000;
    height: 90px;
}
 
.countdown-container .concept {
    font-size: 28px;
    text-align: center;
    color: #000000;
}
.tituloC {
    font-size: 20.0pt;
    font-family: "Century Gothic",sans-serif;
    text-align: center;
    line-height: normal;
    word-wrap: break-word;
    text-align: center;
    background-color:#BB37AB;

}

.luna img{
    width: 200px;
    height: 50px;
    text-align: center;


}

.titulo1{
    text-align: center;
    line-height: normal;
    font-size: 30.0pt;
    font-family: "Century Gothic",sans-serif;
}

#fondo {
    background-color: #F2D2EE;
    text-align: center;
    font-size: 20.0pt;
    font-family: "Century Gothic",sans-serif;

}

#contador {
    text-align: center;
}
#rojo{
    color: red;
    margin: 0;
	padding: 0;
	border: 0;
    top: 0px;
	font-size: 110%;
}

ul{
    list-style-type: circle;
    text-align: left;
    padding-right: 35%;
    padding-left: 35%;

    
}
.tabla{
    box-align: center;
    text-align: center;
    margin: 0 auto;

}