*, *::before, *::after {
    box-sizing: border-box;
  }
.Titulo h1 {
    margin-top: 0px !important;
    color: rgb(0, 0, 0)!important;

}

.Scalapp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


.banner { 
    position: relative; 
    height: 50%;
    width: 100%;
    display: flow-root;
    align-items: center;
    justify-content: center;
    background-image: url('https://diegoliveros.github.io/SCALAPP/image/Picture6.png');
    background-size: cover;
}
    .banner::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: rgba(235, 235, 235, 0.75);
    }

.banner p{
        position: relative;
        color: #080808;  
        font-size: 1rem;
        line-height: 0.9;
        text-align: center;
      }
.banner h2{
        position: relative;
        color: #080808;         
        line-height: 2;
        text-align: center;
      }

.EXPLORA { 
    position: relative; 
    height: 50%;
    width: 100%;
    display: flow-root;
    align-items: center;
    justify-content: center;
    background-image: url('https://diegoliveros.github.io/SCALAPP/image/Picture3.png');
    background-size: cover;
}
    .EXPLORA::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: rgba(235, 235, 235, 0.75);
    }

.EXPLORA p{
        position: relative;
        color: #080808;  
        font-size: 1rem;
        line-height: 0.9;
        text-align: center;
      }
.EXPLORA h2{
        position: relative;
        color: #080808;         
        line-height: 2;
        text-align: center;
      }
      
.historia {
  background-color: #1F2527;
  color:aliceblue;
  top: 0px;
  right: 0px;
  bottom: 0px; 
  background-size: cover;
}
.historia a{
  color:#dfdfdf;
  text-decoration: underline;
  height: max-content;
}

.Ficha  {
  /*  border: 1px solid #999;*/
   display: inline-flex;   /* para la alineación de los elementos*/
   width: 500px;
   padding:20px 0px 20px 0px;
   margin: 20px 0px 20px 0px;

 }
.Ficha p{
  width: 250px;
}
.Ficha img{
  width: 250px;
  height: auto;
  text-align: justify;
}
.cardleft {
  float:left;
}
.cardright {
  float:right;
}

.footer { 
  position: relative; 
  height: 50%;
  width: 100%;
  display: flow-root;
  align-items: center;
  justify-content: center;
  background-image: url('https://diegoliveros.github.io/SCALAPP/image/Picture5.png');
  background-size: cover;
}
  .footer::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(235, 235, 235, 0.75);
  }

.footer p{
      position: relative;
      color: #080808;  
      font-size: 1rem;
      line-height: 0.9;
      text-align: center;
    }
.footer h2{
      position: relative;
      color: #080808;         
      line-height: 2;
      text-align: center;
    }