*, *::before, *::after {
    box-sizing: border-box;
  }
.Titulo h1 {
    margin-top: 0px !important;
    color: rgb(0, 0, 0)!important;
    font-size: 3em;
    font-family: Helvetica, Arial, sans-serif;

}

.Scalapp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


.banner { 
    position: relative; 
    height: 50%;
    width: 100%;
    display: flow-root;
    align-items: center;
    justify-content: center;
    background-image: url('https://diegoliveros.github.io/SCALAPP/image/Picture6.png');
    background-size: cover;
}
    .banner::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: rgba(235, 235, 235, 0.75);
    }

.banner p{
        position: relative;
        color: #080808;  
        font-size: 1rem;
        line-height: 0.9;
        text-align: center;
      }
.banner h2{
        position: relative;
        color: #080808;         
        line-height: 2;
        text-align: center;
      }
.banner h1{
        position: relative;
        color: #080808;         
        line-height: 3;
        text-align: center;
      }

.EXPLORA { 
    position: relative; 
    color: #080808; 
    height: 50%;
    width: 100%;
    display: flow-root;
    align-items: center;
    justify-content: center;
    background-image: url('https://diegoliveros.github.io/SCALAPP/image/Picture3.png');
    background-size: cover;
}
    .EXPLORA::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: rgba(235, 235, 235, 0.75);
    }

.EXPLORA p {
        position: relative;
        color: #080808;  
        font-size: 1rem;
        line-height: 0.9;
        text-align: center;
      }
.EXPLORA h2 {
        position: relative;
        color: #080808;         
        line-height: 2;
        text-align: center;
      }
.EXPLORA div {
        position: relative;
        color: #080808;         
        text-align: center;
      }
.EXPLORA h1 {
      font-family: Helvetica, Arial, sans-serif;
      position: relative;
      color: #080808;         
      line-height: 3;
      text-align: center;
}
      
.intermedio {
  background-color: #1F2527;
  color:aliceblue;
  top: 20px;
  right: 0px;
  bottom: 0px; 
  background-size: cover;
  text-align: center; 
  padding: 40px;
}
.intermedio a{
  color:#dfdfdf;
  text-decoration: underline;
  height: max-content;
}

.Ficha  {
  /*  border: 1px solid #999;*/
   padding:20px 0px 20px 0px;
   margin: 20px auto 20px auto;
   display: inline-flex;   /* para la alineación de los elementos*/
   flex-direction: column;
   /* margin-left: auto;
    margin-right: auto;*/
   
 }
.Ficha p{
  width: 250px;
  padding:20px 0px 20px 0px;
   margin: 20px 10px 20px 10px;
}
.Ficha img{
  width: 250px;
  height: auto;
  text-align: justify;
  padding:20px 0px 20px 0px;
   margin: 20px 10px 10px 20px;
}
.cardleft {
  float:left;
}
.cardright {
  float:right;
}

.footer { 
  position: relative; 
  height: 50%;
  width: 100%;
  display: flow-root;
  align-items: center;
  justify-content: center;
  background-image: url('https://diegoliveros.github.io/SCALAPP/image/Picture5.png');
  background-size: cover;
}
  .footer::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(235, 235, 235, 0.75);
  }

.footer p{
      position: relative;
      color: #080808;  
      font-size: 1rem;
      line-height: 0.9;
      text-align: center;
    }
.footer h2{
      position: relative;
      color: #080808;         
      line-height: 2;
      text-align: center;
    }
    .footer h1{
      position: relative;
      color: #080808;         
      line-height: 3;
      text-align: center;
    }
    
.footer h5{
      position: relative;
      color: #080808;         
      line-height: 2;
      text-align: center;
    }


.Reserva { 
      position: relative; 
      color: #080808; 
      height: 50%;
      width: 100%;
      display: flow-root;
      align-items: center;
      justify-content: center;
      background-image: url('https://diegoliveros.github.io/SCALAPP/image/Picture4.png');
      background-size: cover;
  }

.Reserva::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(235, 235, 235, 0.75);
      }
  
.Reserva p {
          position: relative;
          color: #080808;  
          font-size: 1rem;
          line-height: 0.9;
          text-align: center;
        }
.Reserva h2 {
          position: relative;
          color: #080808;         
          line-height: 2;
          text-align: center;
        }
